      <span class="bb_buttons">
       <input type="button" value="B" class="bold" onclick="ms_addTags('[b][/b]','bold','')" />
       <input type="button" value="I" class="italic" onclick="ms_addTags('[i][/i]','italic','')" />
       <input type="button" value="U" class="underline" onclick="ms_addTags('[u][/u]','underline','')" />
       <input type="button" value="{link}" class="link" onclick="ms_addTags('-','url','{link_txt}')" />
       <input type="button" value="{email}" class="email" onclick="ms_addTags('-','email','{email_txt}')" />
       <input type="button" value="{image}" class="image" onclick="ms_addTags('-','img','{image_txt}')" />
       <input type="button" value="YouTube" class="youtube" onclick="ms_addTags('-','youtube','{yt_txt}')" />
       <input type="button" value="Vimeo" class="vimeo" onclick="ms_addTags('-','vimeo','{vim_txt}')" />
       <input type="button" value="?" class="info" onclick="ms_bbCodeHelp('index.php?bbhelp=yes')" />
      </span>