    <div class="ticketWrapper{high}">
      
      <div class="subject">
       <p>{title}<span class="idbar">{ticket_id}</span></p>
      </div>
    
      <div class="view">
       <p>{url}</p>
      </div>
    
      <div class="info_{type}">
        <p>
          <span class="status">{status_value}</span>
          {opened}: <span class="highlight">{date}</span> | 
          {priority}: <span class="highlight">{priority_value}</span> | 
          {dept}: <span class="highlight">{dept_value}</span> | 
          {replies}: <span class="highlight">{reply_value}</span>
        </p>
      </div>
    
    </div>
